<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Relatório Adhoc</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Menu</p>
    
    <li class="nav-item">
      <a href="/" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-solid fa-house"></i></div>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/ad_hoc_user_account" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-solid fa-users"></i></div>
        <span>User Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/ad_hoc_repository" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-solid fa-book"></i></div>
        <span>Repository</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/ad_hoc_issue" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-regular fa-circle-dot"></i></div>
        <span>Issue</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/ad_hoc_pull_request" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-solid fa-code-pull-request"></i></div>
        <span>Pull Request</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/ad_hoc_git_commit" class="nav-link d-flex align-items-center">
        <div class="icon-container"><i class="fa-solid fa-code-commit"></i></div>
        <span>Commit</span>
      </a>
    </li>
  </ul>
</nav>